
{% load static %}


<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!--- stylesheet --->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--- fonts.google --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>{% block title %} title {% endblock title %}</title>
    
    {% block styles %}

    {% endblock styles %}

</head>
<body>

    {% block navbar %}
    <div class="sidebar">
        <div class="text-center mb-4">
            <i class="fas fa-user-md fa-2x"></i>
            <h6 class="mb-0">นพ. สมชาย ใจดี</h6>
            <small class="text-muted">แพทย์ผู้เชี่ยวชาญ</small>
        </div>
        <div class="nav flex-column">
            <a href="{% url 'url_doctor' %}" class="nav-link active">
                <i class="fas fa-home me-2"></i> หน้าหลัก
            </a>

            <a href="{% url 'url_patientlist' %}" class="nav-link">
                <i class="fas fa-user-injured me-2"></i> รายชื่อคนไข้
            </a>
            
            <a href="{% url 'url_showmedication' %}" class="nav-link">
                <i class="fas fa-pills me-2"></i> จัดการยา
            </a>

            <a href="{% url 'url_logout' %}" class="nav-link">
                <i class="bi bi-door-closed-fill me-2"></i> ออกจากระบบ
            </a>
        </div>
    </div>
    {% endblock navbar%}


    {% block content %}

    {% endblock content%}


    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    
     <!--- DataTable --->
     <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
     <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
     <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
 
     <script>
         $(document).ready(function() {
             $('#dataTable').DataTable({
                 "language": {
                     "lengthMenu": "แสดงข้อมูล  _MENU_  แถว",
                     "zeroRecords": "ไม่พบอะไรเลย - ขออภัย",
                     "info": "แสดงหน้า  _PAGE_ จาก _PAGES_",
                     "infoEmpty": "ไม่มีข้อมูลในระบบ",
                     "infoFiltered": "(กรองจากข้อมูลทั้งหมด _MAX_ รายการ)",
                     "search": "ค้นหา :"
                 }
 
 
             });
         });
     </script>
     
    
    {% endblock script %}       
</body>
</html>