<!-- extends ก่อน ค่อย load -->
{% extends 'temp_doctor/base_doctor.html' %} 
{% load static %}



{% block title %}หน้ารายชื่อคนไข้{% endblock title %}

    <!-- Navbar -->
    {% block navbar %}
    <div class="header">
        <a href="{% url 'url_doctor' %}" class="back-button">
            <i class="bi bi-chevron-left"></i>
        </a>
    </div>
    {% endblock navbar %}


    {% block content %}

    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col">
                <h2>รายชื่อคนไข้</h2>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchPatientModal">
                    <i class="fas fa-plus"></i> เพิ่มคนไข้ในการดูแล
                </button>
            </div>
        </div>


        <!-- Patient Table -->
        <div class="table-responsive">
            <table id="dataTable" class="table table-hover" >
                <thead class="table-light">
                    <tr>
                        <th>HN</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>เบอร์โทรศัพท์</th>
                        <th>สั่งจ่ายยา</th>
                        <th>ตั้งเวลาแจ้งเตือน</th>
                        <th>การจัดการ</th>

                    </tr>
                </thead>
                <tbody>
                    {% for p in patient_list %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.user.first_name }} {{ p.user.last_name }}</td>
                        <td>{{ p.phone_number }}</td>
                        
                        <td>
                            <a href="{% url 'url_prescription' p.id %}" class="btn btn-sm btn btn-info me-2"><i class="fas fa-plus me-2"></i>สั่งจ่ายยา</a>
                            <a href="{% url 'url_prescription_list' p.id  %}" class="btn btn-sm btn-warning">
                                <i class="bi bi-card-checklist me-2"></i>รายการใบสั่งยา
                            </a>

                        </td>
                        <td>
                            <a href="{% url 'url_addreminder' p.id %}" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i> เพิ่ม</a>
                        </td>
                        <td>
                            <a href="{% url 'url_delpatient' p.id %}" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- Search Patient Modal -->
        <div class="modal fade" id="searchPatientModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">เพิ่มคนไข้ในการดูแล</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Search Box -->
                        <div class="mb-4">
                            <div class="input-group">

                                <form  action="{% url 'seach' %}" method="get">
                                    <input type="text"  placeholder="พิมพ์หมายเลขคนไข้.." name="search" class="form-search">
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>ค้นหา</button>
                                </form>
                        
                            </div>
                        </div>

                        <!-- Search Results -->
                        <div class="list-group">

                            {% for p_all in patient_all %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h6 class="mb-1">{{ p_all.first_name }} {{ p_all.last_name }}</h6>
                                        <small>HN: {{ p_all.id }} | เบอร์โทร: {{ p_all.patient.phone_number }}</small>
                                    </div>
                                    <a href="{% url 'url_addpatient' p_all.id %}"  class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus"></i> เพิ่ม
                                    </a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





    {% endblock content %}

