<style>
    .header {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    position: relative;
}

.doctor-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
}

.med-card {
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.taken {
    color: #4CAF50;
}

.pending {
    color: #F44336;
}

.nav-item {
    text-align: center;
    font-size: 0.8rem;
    position: relative;
}

.nav-item i {
    font-size: 1.5rem;
    margin-bottom: 4px;
}

.nav-add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2196F3;
    color: white;
    border: none;
    font-size: 24px;
    position: relative;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.nav-add-button:hover {
    background-color: #1976D2;
}

.nav-add-button i {
    margin: 0;
}

.container {
    margin-bottom: 80px !important;
}


</style>
<!-- bottom-nav -->
<nav class="bottom-nav">
    <div class="row g-0">
        <div class="col nav-item">
            <a href="{% url 'home' %}">
                <i class="bi bi-calendar-event"></i>
            </a>
            <div>วันนี้</div>
        </div>
        <div class="col nav-item">
            <a href="{% url 'url_medication' %}">
                <i class="bi bi-capsule"></i>
            </a>
            <div>กล่องยา</div>
        </div>
        <div class="col nav-item active">
            <a href="{% url 'url_profile' %}">
                <i class="bi bi-person-circle"></i>
            </a>
            <div>ฉัน</div>
        </div>

        <div class="col nav-item">
            <a href="{% url 'url_history' %}">
                <i class="bi bi-clock-history"></i>
            </a>
            <div>ประวัติการทานยา</div>
        </div>
        <div class="col nav-item">
            <a href="{% url 'url_logout' %}">
                <i class="bi bi-three-dots"></i>
            </a>
            <div>ออกจากระบบ</div>
        </div>
    </div>
</nav>