
<!-- bottom-nav -->
<nav class="bottom-nav">
    <div class="row g-0">
        <div class="col nav-item">
            <a href="{% url 'home' %}">
                <i class="bi bi-calendar-event"></i>
            </a>
            <div>วันนี้</div>
        </div>
        <div class="col nav-item">
            <a href="{% url 'url_medication' %}">
                <i class="bi bi-capsule"></i>
            </a>
            <div>กล่องยา</div>
        </div>
        <div class="col nav-item active">
            <a href="{% url 'url_profile' %}">
                <i class="bi bi-person-circle"></i>
            </a>
            <div>ฉัน</div>
        </div>

        <div class="col nav-item">
            <a href="{% url 'url_history' %}">
                <i class="bi bi-clock-history"></i>
            </a>
            <div>ประวัติการทานยา</div>
        </div>
        <div class="col nav-item">
            <i class="bi bi-three-dots"></i>
            <div>เพิ่มเติม</div>
        </div>
    </div>
</nav>