



 <!-- bottom-nav -->
 <nav class="bottom-nav">
    <div class="row g-0">
        <div class="col nav-item">
            <i class="bi bi-calendar-event"></i>
            <div>วันนี้</div>
        </div>
        <div class="col nav-item">
            <i class="bi bi-capsule"></i>
            <div>กล่องยา</div>
        </div>
        <div class="col nav-item">
            <a href="add_medication.html" class="nav-add-button">
                <i class="bi bi-plus-lg"></i>
            </a>
            <div style="margin-top: -10px;">เพิ่ม</div>
        </div>
        <div class="col nav-item active">
            <i class="bi bi-person-circle"></i>
            <div>ฉัน</div>
        </div>
        <div class="col nav-item">
            <i class="bi bi-three-dots"></i>
            <div>เพิ่มเติม</div>
        </div>
    </div>
</nav>